


/* ----------------------Fila Inferior (Buscador) ------------------------------- */
.header-bottom {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: center; /*cntra verticalmente la lupa y el input */
  
  /*Box*/
  background: rgba(0, 0, 0, 0.3); 
  border: 1px solid rgba(255, 255, 255, 0.15); 
  border-radius: 12px;
  padding: 12px 20px;
  gap: 12px;
  width: 100%;
  max-width: 800px;
  transition: all 0.3s ease;
}

/*efecto hover/focus*/
.search-container:focus-within {
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(138, 92, 255, 0.6); /*borde violeta */
  box-shadow: 0 0 15px rgba(138, 92, 255, 0.4);
}

.search-icon {
  opacity: 0.6; 
  font-size: 1.1rem;
}
.search-input {
  background: transparent; 
  border: none;
  outline: none; /*quita el recuadro que aparece por defecto al hacer clic */
  
  color: #ffffff; /*color del texto que escribe el usuario*/
  width: 100%; /*input ocupe todo el espacio restante*/
}


/* -------------------- Estilos Base ----------------------------------*/
main {
  /*gradiente radial s*/
  background-image: radial-gradient(circle at top right, #2a1a4a, #0b0710); 
  color: #f0f0f5; 
  margin: 0;
  
 
}

/* -----------------------------------cuadricula Pokedex--------------------------------------- */
.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px; /*espacio*/
  max-width: 1200px;
  margin: 0 auto; /*centrat grip*/
  padding: 30px;
}

/* ------------------------------tarjeta Pokémon ---------------------------------------------- */
.pokemon-card {
  /*fondo*/
  background-color: rgba(20, 15, 30, 0.4); 
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  
  border: 1px solid rgba(138, 92, 255, 0.5); 
  box-shadow: 0 0 15px rgba(138, 92, 255, 0.15), inset 0 0 10px rgba(138, 92, 255, 0.05); 
}

/*efecto*/
.pokemon-card:hover {
  transform: translateY(-5px); /*levantamiento */
  /*brillo intenso en hover */
  box-shadow: 0 0 25px rgba(138, 92, 255, 0.3), inset 0 0 15px rgba(138, 92, 255, 0.1);
}

/* 
.pokemon-card.glass-card::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  
  backdrop-filter: blur(16px); 
 
  z-index: -1; 
}*/

/* ---------------------seccion de imagen -----------------------------------------------*/
.image-circle {
  width: 150px;
  height: 150px;
  margin: 25px auto; /*centrar vertical y horizontalmente */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  /*crculo mas oscuro */
  border: 1px solid rgba(138, 92, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px rgba(138, 92, 255, 0.05);
}

.image-circle img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain; /*proporciones*/
}

/* -------------------------contenido---------------------------------------------- */
.card-content {
  padding: 20px;
  text-align: center;
}

.pokemon-id {
  font-size: 0.85rem;
  color: #8b86a3; 
  margin-bottom: 5px;
}

.pokemon-name {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 12px;
  color: #e2dff0; 
  text-transform: capitalize;
}



/*------------------------------Pagination---------------------------------*/

/*contenedor principal*/
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 60px; 
  width: 100%;
}

.page-numbers {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Diseño de cada botón / número */
.page-btn {
  background-color: rgba(20, 15, 30, 0.4); /*fondo oscuro */
  border: 1px solid rgba(138, 92, 255, 0.2); /* */
  color: #8b86a3; 
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.3s ease;
  backdrop-filter: blur(8px);
}

/*efecto Hover */
.page-btn:hover:not(.active) {
  background-color: rgba(138, 92, 255, 0.15);
  color: #ffffff;
  border-color: rgba(138, 92, 255, 0.5);
  transform: translateY(-3px);
}

/*pagina actual activa*/
.page-btn.active {
  background-color: rgba(138, 92, 255, 0.2);
  color: #ffffff;
  border-color: rgba(138, 92, 255, 0.8);
  box-shadow: 0 0 15px rgba(138, 92, 255, 0.4); /* respandador violeta */
}

.page-dots {
  color: rgba(138, 92, 255, 0.8);
  letter-spacing: 2px;
  font-weight: bold;
}

/* --- Botones Anterior y Siguiente --- */
.page-prev, 
.page-next {
  background-color: rgba(20, 15, 30, 0.4); 
  border: 1px solid rgba(138, 92, 255, 0.2);
  color: #8b86a3;
  padding: 8px 18px; 
  border-radius: 20px; 
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  backdrop-filter: blur(8px);
  
  /*alinear la flecha y el texto */
  display: flex; 
  align-items: center;
  justify-content: center;
}

/*efecto Hover para ant y sig*/
.page-prev:hover, 
.page-next:hover {
  background-color: rgba(138, 92, 255, 0.15);
  color: #ffffff;
  border-color: rgba(138, 92, 255, 0.5);
  transform: translateY(-3px);
}

/*estado "Deshabilitado"
 JS cambiar el atributo 'disabled', y este CSS lo hace opaco.
*/
.page-prev:disabled, 
.page-next:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  transform: none; /*quita el salto*/
  background-color: transparent;
  border-color: rgba(138, 92, 255, 0.1);
  color: #8b86a3;
}


